%tr
  %td= finished_task.title
  %td= finished_task.description
  %td= finished_task.updated_at.strftime('%e %B %Y')
  - if is_the_owner?(@project)
    %td= link_to 'Cancel', cancel_project_task_path(@project, finished_task),
      method: :put
  - else
    %td -
