%h1 Lorem ipsum dolor amethyst

%h2 Let's to the mall today

%p
  Thane — is a Middleman template, based on HTML5 Boilerplate.
  It also contains some Bootstrap styles. Thane is intended as a fast and easy
  way to initiate the process of web-development .
