%footer.footer
  %small
    Copyright &copy; 2015 | Made with
    %span.glyphicon.glyphicon-heart
    by Rakarsa

  %nav
    %ul
      %li= link_to 'About',   '#'
      %li= link_to 'Contact', '#'
      %li= link_to 'News',    '#'
